.footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: url(../assets/pokeballs.jpg);

  .matched-amount {
    color: $primaryColor;
  }

  &__landing {
    width: 100%;
    height: 100%;
    background: rgba(12, 10, 10, 0.8);

    &__logo {
      max-height: 260px;
      width: 100%;
      margin-top: 20vh;
      margin-bottom: 25px;

      img {
        object-fit: scale-down;
        max-height: 260px;
        width: 100%;
      }
    }

    &__welcome {
      position: relative;
      max-width: 650px;

      padding: 25px 10px 20px 10px;
      border-left: 10px solid #000;
      border-right: 10px solid #000;
      
      background: $primaryWhite;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
      // before and afters to build the outer border
      &::before, &::after {
        content: "";
        width: calc(100% + 20px);
        height: 0;
        position: absolute;
        left: -10px;
      }

      &::before {
        top: -10px;
        border-bottom: 10px solid #000;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      &::after {
        bottom: -15px;
        border-top: 15px solid #000;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      p {
        @include fontSans(26, 400, $secondaryBlack);
        line-height: 26 * 1.6px;
        position: relative;

        padding: 10px;
        padding-bottom: 20px;
        border-left: 10px solid #000;
        border-right: 10px solid #000;
        margin: 0;

        // before and afters to build inner border
        &::before, &::after {
          content: "";
          width: calc(100% + 20px);
          height: 0;
          position: absolute;
          left: -10px;
        }
  
        &::before {
          top: -15px;
          border-bottom: 15px solid #000;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
        }
  
        &::after {
          bottom: -10px;
          border-top: 10px solid #000;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }

        button {
          @include fontDisplay(22, 400, $primaryColor);
          position: absolute;
          bottom: 0;
          right: 3px;
          transition: 0.3s;

          &:hover,
          &:focus {
            outline: none;
            color: $accentColor;
            
            span {color: $primaryColor;}
          }

          span {
            color: $secondaryBlack;
            display: inline-block;
            animation: blinkingArrow .5s ease-in infinite alternate;
            transition: 0.3s;
          }

        }
      }
    
    }
  }
}

@keyframes blinkingArrow {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}