// variables

$squareCardSize: 150px;

// font colours + pseudo states
$primaryBlack: #2e2e2e;
$secondaryBlack: #0c0a0a;
$primaryWhite: #f6f6f6;
$secondaryWhite: #ccc;
$primaryColor: #DC0A2D;
$secondaryColor: #FFCB08;
$accentColor: #004894;

// background colours
$primaryBg: #f6f6f6;
$secondaryBg: $secondaryWhite;

// mixins

// vertical + horizontal centering w/ flexbox
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// fonts
@mixin fontSize($sizeValue){
  // font sizes turn into rem values
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

@mixin fontSans($size, $weight: 400, $color: $primaryBlack) {
  @include fontSize($size);
  font-family: 'Lexend Giga', sans-serif;
  font-weight: $weight;
  color: $color;
}

@mixin fontDisplay($size, $weight: 400, $color: $primaryBlack) {
  @include fontSize($size);
  font-family: 'Sigmar One', cursive;
  font-weight: $weight;
  color: $color;
}

@mixin focusState() {
  outline: none;
}

// might be useful
@mixin position($type, $top: auto, $bottom: auto, $left: auto, $right: auto) {
  position: $type;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin overlay($color: #000000, $alpha: 0.7) {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color, $alpha);
}