html {
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

::-moz-selection {
  color: turquoise;
}

::selection {
  color: turquoise;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  background: url(../assets/pokeballs.jpg);
}

body {
  background: rgba(12, 10, 10, 0.9);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
}

a, p {
  font-size: 36px;
  font-size: 3.6rem;
}

.wrapper {
  max-width: calc( 150px * 5 + 120px);
  width: 80%;
  margin: 0 auto;
}

.wrapperFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.header {
  position: static;
  max-width: calc( 150px * 5 + 80px);
  height: 60px;
  padding: 20px 0 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-left: 50px;
}

.header__list::after {
  content: '';
  position: absolute;
}

.header__list__item__timer,
.header__list__item__reset span {
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  display: inline-block;
  height: 1.5em;
  width: 100px;
  padding: .1em .2em;
  border: 0.1em solid #0c0a0a;
  border-radius: .2em;
  margin: 0;
  background: #f6f6f6;
  text-align: right;
  letter-spacing: -.1em;
  text-transform: uppercase;
}

.header__list__item__reset span {
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__list__item__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__list__item__reset:focus span,
.header__list__item__reset:hover span {
  outline: none;
  color: #004894;
  background: #FFCB08;
}

.header__list__item__reset:focus .header__list__item__reset__arrow,
.header__list__item__reset:hover .header__list__item__reset__arrow {
  border: 4px solid #ccc;
  background: #29AAFD;
  -webkit-transform: rotate(calc(360deg - 45deg));
          transform: rotate(calc(360deg - 45deg));
}

.header__list__item__reset:focus .header__list__item__reset__arrow::before,
.header__list__item__reset:hover .header__list__item__reset__arrow::before {
  border-left: 0px solid #f6f6f6;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.header__list__item__reset__arrow {
  display: inline-block;
  position: absolute;
  right: calc(100% + .2em);
  height: 40px;
  width: 40px;
  border: .2em solid transparent;
  border-top-color: #f6f6f6;
  border-left-color: #f6f6f6;
  border-bottom-color: #f6f6f6;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__list__item__reset__arrow::before {
  content: "";
  position: absolute;
  top: -0.1em;
  left: 80%;
  height: 0;
  width: 0;
  border-left: 0.3em solid #f6f6f6;
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc( 100vh - 70px);
}

.main__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__cards-container__inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #FFCB08;
  border-radius: 1rem;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main__cards-container__inner:focus .main__cards-container__card__front {
  background: #DC0A2D;
}

.main__cards-container__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  height: 150px;
  width: 150px;
  margin: 0.3em;
  background-color: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: drop-shadow(-2em 1em 1em transparent);
          filter: drop-shadow(-2em 1em 1em transparent);
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.main__cards-container__card__front, .main__cards-container__card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main__cards-container__card__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #004894;
}

.main__cards-container__card__front img {
  width: 50%;
  height: 50%;
  margin: auto 0;
}

.main__cards-container__card__back {
  font-size: 15px;
  font-size: 1.5rem;
  background: #e1efff;
  color: #004894;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main__cards-container__card__image {
  height: 100%;
  width: 100%;
}

.main__cards-container__card:hover, .main__cards-container__card:focus-within {
  -webkit-transform: translate(4px, -4px) rotateY(15deg);
          transform: translate(4px, -4px) rotateY(15deg);
  -webkit-filter: drop-shadow(-3em 2em 1em rgba(12, 10, 10, 0.8));
          filter: drop-shadow(-3em 2em 1em rgba(12, 10, 10, 0.8));
  z-index: 2;
}

.main .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main .matched {
  background-color: #FFCB08;
}

.footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: url(../assets/pokeballs.jpg);
}

.footer .matched-amount {
  color: #DC0A2D;
}

.footer__landing {
  width: 100%;
  height: 100%;
  background: rgba(12, 10, 10, 0.8);
}

.footer__landing__logo {
  max-height: 260px;
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 25px;
}

.footer__landing__logo img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-height: 260px;
  width: 100%;
}

.footer__landing__welcome {
  position: relative;
  max-width: 650px;
  padding: 25px 10px 20px 10px;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  background: #f6f6f6;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer__landing__welcome::before, .footer__landing__welcome::after {
  content: "";
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  left: -10px;
}

.footer__landing__welcome::before {
  top: -10px;
  border-bottom: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.footer__landing__welcome::after {
  bottom: -15px;
  border-top: 15px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.footer__landing__welcome p {
  font-size: 26px;
  font-size: 2.6rem;
  font-family: 'Lexend Giga', sans-serif;
  font-weight: 400;
  color: #0c0a0a;
  line-height: 41.6px;
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  margin: 0;
}

.footer__landing__welcome p::before, .footer__landing__welcome p::after {
  content: "";
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  left: -10px;
}

.footer__landing__welcome p::before {
  top: -15px;
  border-bottom: 15px solid #000;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.footer__landing__welcome p::after {
  bottom: -10px;
  border-top: 10px solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.footer__landing__welcome p button {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: 'Sigmar One', cursive;
  font-weight: 400;
  color: #DC0A2D;
  position: absolute;
  bottom: 0;
  right: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__landing__welcome p button:hover, .footer__landing__welcome p button:focus {
  outline: none;
  color: #004894;
}

.footer__landing__welcome p button:hover span, .footer__landing__welcome p button:focus span {
  color: #DC0A2D;
}

.footer__landing__welcome p button span {
  color: #0c0a0a;
  display: inline-block;
  -webkit-animation: blinkingArrow .5s ease-in infinite alternate;
          animation: blinkingArrow .5s ease-in infinite alternate;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes blinkingArrow {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes blinkingArrow {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 870px) {
  .wrapper {
    max-width: calc( 120px * 4 + 120px);
    width: 90%;
  }
  .header {
    padding: 10px 20px 0;
  }
  .main__cards-container__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
    height: 120px;
  }
  .main__cards-container__card:hover, .main__cards-container__card:focus-within {
    -webkit-filter: drop-shadow(-2em 1em 1em rgba(12, 10, 10, 0.8));
            filter: drop-shadow(-2em 1em 1em rgba(12, 10, 10, 0.8));
  }
}

@media (max-width: 695px) {
  .wrapper {
    width: 100%;
  }
  .header__list {
    padding-left: 20px;
  }
  .header__list__item__timer {
    width: 60px;
  }
  .header__list__item__timer,
  .header__list__item__reset span {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .header__list__item__reset__arrow {
    height: 25px;
    width: 25px;
  }
  .header__list__item__reset__arrow::before {
    top: -0.2em;
  }
  .main__cards-container__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 95px;
            flex: 0 1 95px;
    height: 95px;
  }
  .main__cards-container__card:hover, .main__cards-container__card:focus-within {
    -webkit-filter: drop-shadow(-1em 0.5em 1em rgba(12, 10, 10, 0.8));
            filter: drop-shadow(-1em 0.5em 1em rgba(12, 10, 10, 0.8));
  }
  .footer__landing__welcome p {
    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
  }
}

@media (max-width: 585px) {
  .main__cards-container__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85px;
            flex: 0 1 85px;
    height: 85px;
    margin: 0.1em;
  }
  .footer__landing__welcome {
    padding: 22px 7px 17px 7px;
    border-left: 7px solid #000;
    border-right: 7px solid #000;
  }
  .footer__landing__welcome::before, .footer__landing__welcome::after {
    width: calc(100% + 14px);
    left: -7px;
  }
  .footer__landing__welcome::before {
    top: -7px;
    border-bottom: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .footer__landing__welcome::after {
    bottom: -12px;
    border-top: 12px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .footer__landing__welcome p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25.6px;
    padding: 7px;
    padding-bottom: 20px;
    border-left: 7px solid #000;
    border-right: 7px solid #000;
  }
  .footer__landing__welcome p::before, .footer__landing__welcome p::after {
    width: calc(100% + 14px);
    left: -7px;
  }
  .footer__landing__welcome p::before {
    top: -12px;
    border-bottom: 12px solid #000;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
  .footer__landing__welcome p::after {
    bottom: -7px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

@media (max-width: 400px) {
  .main__cards-container__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70px;
            flex: 0 1 70px;
    height: 70px;
  }
  .main__cards-container__card:hover, .main__cards-container__card:focus-within {
    -webkit-transform: translate(4px, -4px) rotateY(15deg);
            transform: translate(4px, -4px) rotateY(15deg);
    -webkit-filter: drop-shadow(-1em 0.2em 1em rgba(12, 10, 10, 0.8));
            filter: drop-shadow(-1em 0.2em 1em rgba(12, 10, 10, 0.8));
    z-index: 2;
  }
}
